In [1]:
## Data cleanup

In [2]:
import pandas as pd
pd.set_option('max_colwidth', 400)

In [18]:
petadoption = pd.read_csv("..\Resources\Animal_Shelter_Intake_and_Outcome.csv")
petadoption.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,RAZOR,DOG,BOSTON TERRIER,BLACK/WHITE,Neutered,SMALL,10/29/2009,K22-043412,TRUCK,A396382,...,FIELD,RETURN TO OWNER,FLD_IDTAG,UNKNOWN,HEALTHY,SANTA ROSA,SANTA ROSA,95404.0,"95404(38.43807, -122.71247)",1
1,NaN,OTHER,PIGEON,GRAY/WHITE,Unknown,SMALL,NaN,K23-044095,TRUCK,A416206,...,FIELD,EUTHANIZE,INJ SEVERE,UNKNOWN,HEALTHY,SANTA ROSA,NaN,NaN,NaN,1
2,MAX,DOG,BORDER COLLIE,BLACK/TRICOLOR,Neutered,MED,3/10/2020,K23-044090,DS80,A399488,...,FIELD,RETURN TO OWNER,OVER THE COUNTER_CALL,UNKNOWN,PENDING,COUNTY,COUNTY,95472.0,"95472(38.40179, -122.82512)",1
3,NaN,CAT,DOMESTIC LH,GRAY/WHITE,Spayed,SMALL,6/26/2011,K22-043405,VET,A414520,...,FIELD,DISPOSAL,DOA,UNKNOWN,DEAD,COUNTY,SANTA ROSA,95403.0,"95403(38.51311, -122.75502)",1
4,PUDGY,DOG,CHIHUAHUA SH/SCHIPPERKE,TAN,Neutered,MED,7/20/2013,K23-043813,DA27,A415428,...,OVER THE COUNTER,TRANSFER,MUTTVILLE,UNKNOWN,HEALTHY,SANTA ROSA,OUT OF COUNTY,94103.0,"94103(37.77672, -122.40779)",1

In [19]:
petadoption.columns

Index(['Name', 'Type', 'Breed', 'Color', 'Sex', 'Size', 'Date Of Birth',
       'Impound Number', 'Kennel Number', 'Animal ID', 'Intake Date',
       'Outcome Date', 'Days in Shelter', 'Intake Type', 'Intake Subtype',
       'Outcome Type', 'Outcome Subtype', 'Intake Condition',
       'Outcome Condition', 'Intake Jurisdiction', 'Outcome Jurisdiction',
       'Outcome Zip Code', 'Location', 'Count'],
      dtype='object')

In [20]:
# Extract latitude and longitude values from "Location" column
petadoption[['Latitude', 'Longitude']] = petadoption['Location'].str.extract(r'\((.*),\s(.*)\)').astype(float)

# Drop "Location" column
petadoption = petadoption.drop(columns=['Location'])

In [21]:
petadoption.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Count,Latitude,Longitude
0,RAZOR,DOG,BOSTON TERRIER,BLACK/WHITE,Neutered,SMALL,10/29/2009,K22-043412,TRUCK,A396382,...,RETURN TO OWNER,FLD_IDTAG,UNKNOWN,HEALTHY,SANTA ROSA,SANTA ROSA,95404.0,1,38.43807,-122.71247
1,NaN,OTHER,PIGEON,GRAY/WHITE,Unknown,SMALL,NaN,K23-044095,TRUCK,A416206,...,EUTHANIZE,INJ SEVERE,UNKNOWN,HEALTHY,SANTA ROSA,NaN,NaN,1,NaN,NaN
2,MAX,DOG,BORDER COLLIE,BLACK/TRICOLOR,Neutered,MED,3/10/2020,K23-044090,DS80,A399488,...,RETURN TO OWNER,OVER THE COUNTER_CALL,UNKNOWN,PENDING,COUNTY,COUNTY,95472.0,1,38.40179,-122.82512
3,NaN,CAT,DOMESTIC LH,GRAY/WHITE,Spayed,SMALL,6/26/2011,K22-043405,VET,A414520,...,DISPOSAL,DOA,UNKNOWN,DEAD,COUNTY,SANTA ROSA,95403.0,1,38.51311,-122.75502
4,PUDGY,DOG,CHIHUAHUA SH/SCHIPPERKE,TAN,Neutered,MED,7/20/2013,K23-043813,DA27,A415428,...,TRANSFER,MUTTVILLE,UNKNOWN,HEALTHY,SANTA ROSA,OUT OF COUNTY,94103.0,1,37.77672,-122.40779

In [22]:
# Filter DataFrame to include only dogs and cats
petadoption = petadoption[petadoption['Type'].isin(['DOG', 'CAT'])]

In [23]:
# Drop rows with missing values in "Latitude" and "Longitude" columns
petadoption = petadoption.dropna(subset=['Latitude', 'Longitude'])

In [24]:
# Convert "Date of Birth", "Intake Date", and "Outcome Date" columns to datetime data type
petadoption['Date Of Birth'] = pd.to_datetime(petadoption['Date Of Birth'])
petadoption['Intake Date'] = pd.to_datetime(petadoption['Intake Date'])
petadoption['Outcome Date'] = pd.to_datetime(petadoption['Outcome Date'])

In [25]:
# Convert "Count" column to int data type
petadoption['Count'] = petadoption['Count'].astype(int)

In [26]:
# Convert "Outcome Zip Code" column to integer data type
petadoption['Outcome Zip Code'] = petadoption['Outcome Zip Code'].astype(int)

In [27]:
# Check data types of columns
print(petadoption.dtypes)

Name                            object
Type                            object
Breed                           object
Color                           object
Sex                             object
Size                            object
Date Of Birth           datetime64[ns]
Impound Number                  object
Kennel Number                   object
Animal ID                       object
Intake Date             datetime64[ns]
Outcome Date            datetime64[ns]
Days in Shelter                 object
Intake Type                     object
Intake Subtype                  object
Outcome Type                    object
Outcome Subtype                 object
Intake Condition                object
Outcome Condition               object
Intake Jurisdiction             object
Outcome Jurisdiction            object
Outcome Zip Code                 int32
Count                            int32
Latitude                       float64
Longitude                      float64
dtype: object

In [29]:
# Noticed that the "Days in Shelter" column contains commas therefore not making it readable
# when importing to SQL. 

# Dropping the comma 
petadoption['Days in Shelter'] = petadoption['Days in Shelter'].str.replace(',', '')

In [31]:
# Importing cleaned dataset.
petadoption.to_csv('../Resources/CleanedData.csv', index=False)